<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'offer-add'})}"></div>

<div class="container mt-5">
    <h2 class="text-center text-white">Upload Offer</h2>
    <form
        th:action="@{/offer/add}"
        th:method="post"
        th:object="${offerAddDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

                <!-- Name -->
                <div class="form-group col-md-6 mb-3">
                    <label for="name" class="text-white font-weight-bold">Offer Name</label>
                    <input id="name"
                           type="text"
                           name="name"
                           class="form-control"
                           placeholder="Name"
                           th:field="*{name}"
                           th:errorclass="'bg-warning'"
                    />
                    <p class="errors alert alert-danger"
                       th:if="${#fields.hasErrors('name')}"
                       th:errors="*{name}"> Name error message
                    </p>
                </div>

            <div class="form-group col-md-6 mb-3">
                <label th:for="price" class="text-white font-weight-bold">Price (BGN)</label>
                <input
                       type="number"
                       class="form-control"
                       placeholder="Price in BGN"
                       th:field="*{price}"
                       th:errorclass="'bg-warning'"
                />
                <p class="errors alert alert-danger"
                   th:if="${#fields.hasErrors('price')}"
                   th:errors="*{price}"> Price is required.

                </p>

            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold">createdOn</label>
                <input type="date"
                       step="1"
                       class="form-control"
                       placeholder="Star date"
                       th:field="*{createdOn}"
                       th:errorclass="'bg-warning'"
                />
                <p class="errors alert alert-danger"
                   th:if="${#fields.hasErrors('createdOn')}"
                   th:errors="*{createdOn}"> Date of creation is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold">validUntil</label>
                <input type="date"
                       step="1"
                       class="form-control"
                       placeholder="End date"
                       th:field="*{validUntil}"
                       th:errorclass="'bg-warning'"
                />
                <p class="errors alert alert-danger"
                    th:if="${#fields.hasErrors('validUntil')}"
                    th:errors="*{validUntil}"> End date is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" th:for="description">Description</label>
            <textarea
                type="textarea"
                class="form-control"
                rows="3"
                placeholder="Description"
                th:field="*{description}"
                th:errorclass="'bg-warning'"
            >
            </textarea>

            <p class="errors alert alert-danger"
               th:if="${#fields.hasErrors('description')}"
               th:errors="*{description}"> Description is required.
            </p>
        </div>

        <div class="row">
            <div class="col mb-2">
                <div class="button-holder d-flex justify-content-center">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
