<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar::navbar(activeLink=${'register'})}"></nav>
</div>

<div class="container mt-5">
    <h2 class="text-center text-white" th:text="#{register.user.form.register_user}">Register User</h2>

    <!-- Registration form start-->
    <form class="main-form mt-3 mx-auto col-ms-8 col-md-6 d-flex flex-column justify-content-center"
        th:action="@{/users/register}"
        th:method="post"
        th:object="${userRegisterDTO}"
    >
        <div class="form-group">
            <label for="username" class="text-white d-flex justify-content-center"
                   th:text="#{register.user.form.username}">username
            </label>
            <input id="username"
                   name="username"
                   type="text"
                   class="text-center form-control"
                   th:placeholder="#{register.user.form.username}"
                   th:field ="*{username}"
                   th:errorclass="'bg-warning'"
            />
            <p class="text-center errors alert alert-danger"
               th:if="${#fields.hasErrors('username')}"
               th:errors="*{username}"

            >
<!--            <p class="text-center errors alert alert-danger d-block"-->
<!--               th:if="${#fields.hasErrors('username')}"-->
<!--               th:each="error: ${#fields.detailedErrors('username')}"-->
<!--               th:text="${error.getMessage()}"-->
<!--               th:errors="*{username}"-->
<!--            >-->

<!--                th:text="${#fields.detailedErrors().get(0).getMessage()}"->показва само първата грешка-->
                Username is required.
            </p>
        </div>

        <div class="form-group">
            <label for="email" class="text-white d-flex justify-content-center"
                   th:text="#{register.user.form.email}">Email
            </label>
            <input id="email"
                   name="email"
                   type="text"
                   class="text-center form-control"
                   th:placeholder="#{register.user.form.email}"
                   th:field ="*{email}"
                   th:errorclass="'bg-warning'"
            />
            <p class="text-center errors alert alert-danger"
               th:if="${#fields.hasErrors('email')}"
               th:errors="*{email}"
            >
                Email is required.
            </p>
        </div>

        <div class="form-group">
            <label for="password" class="text-white d-flex justify-content-center"
                   th:text="#{register.user.form.password}">Password
            </label>
            <input id="password"
                   name="password"
                   type="password"
                   class="text-center form-control"
                   th:placeholder="#{register.user.form.password}"
                   th:field ="*{password}"
                   th:errorclass="'bg-warning'"
            />
            <p class="text-center errors alert alert-danger"
               th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}"
            >
                Password is required.
            </p>
        </div>

        <div class="form-group">
            <label for="confirmPassword" class="text-white d-flex justify-content-center"
                   th:text="#{register.user.form.confirm_password}">Confirm Password
            </label>
            <input id="confirmPassword"
                   name="confirmPassword"
                   type="password"
                   class="text-center form-control"
                   th:placeholder="#{register.user.form.confirm_password}"
                   th:field ="*{confirmPassword}"
                   th:errorclass="'bg-warning'"
            />
            <p class="text-center errors alert alert-danger"
               th:if="${#fields.hasErrors('confirmPassword')}"
               th:errors="*{confirmPassword}"
            >
                Password confirmation is required.
            </p>
        </div>


        <div class="row">
            <div class="col mb-2">
                <div class="button-holder d-flex justify-content-center">
                    <input type="submit" class="btn btn-info btn-lg" th:value="#{register.user.form.register.btn}"/>
                </div>
            </div>
        </div>
    </form>
    <!-- EO: Registration form end-->
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
