<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>

<body>
<div>
    <nav th:replace="~{fragments/navbar::navbar(activeLink=${'admin-users'})}"></nav>
</div>

<main>
    <div class="container mt-5">
        <h2 class="text-center text-white">Manage Users</h2>

        <table class="table table-striped table-dark mt-3">
            <thead>
            <tr>
                <th class="active">Username</th>
                <th class="active">Email</th>
                <th class="active">Roles</th>
                <th class="active">Edit</th>
                <th class="active">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}">Username</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.roleNames}">Roles</td>
                <td>

                    <a class="btn btn-info" th:href="@{/admin/users/edit/{id} (id=${user.id})}">Edit</a>
                </td>
                <td>

                <td>
                    <form th:method="post" th:action="@{/admin/users/delete/{id}(id=${user.id})}">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

</body>
</html>
