<!DOCTYPE html>
<html lang="en"
      xmlns:th='http://www.thymeleaf.org'
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
</head>
<body>

<nav
        th:fragment="navbar(activeLink)"
        class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="/"><img alt="arch picture" src="/images/architect.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav active mr-auto col-10 justify-content-between">
            <li class="nav-item">
                <a class="nav-link" href="/"
                   th:classappend="${activeLink == 'home'}? 'active'"
                   th:text="#{nav_bar_home}"
                >Home</a>
            </li>

            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown"   role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   th:classappend="${activeLink == 'projects'}? 'active'"
                   th:text="#{nav_bar_projects}"
                >Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="nav-projects" href="/project/all"
                       th:classappend="${activeLink == 'all-projects'}? 'active'"
                       th:text="#{nav_bar_all_projects}"
                    >Projects</a>
                    <a class="dropdown-item" href="/project/add"
                       th:classappend="${activeLink == 'add-project'}? 'active'"
                       th:text="#{nav_bar_add_project}"
                    >Add Project</a>
                </div>
            </li>

            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="/"    role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   th:text="#{nav_bar_offers}"
                >Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  href="/offer/all"
                       th:classappend="${activeLink == 'offers'}? 'active'"
                       th:text="#{nav_bar_all_offers}"
                    >Projects</a>
                    <a class="dropdown-item" href="/offer/add"
                       th:classappend="${activeLink == 'offer-add'}? 'active'"
                       th:text="#{nav_bar_add_offer}"
                    >Add Project</a>
                </div>
            </li>

            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   th:classappend="${activeLink == 'events'}? 'active'"
                   th:text="#{nav_bar_events}"
                >Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="nav-events" href="/event/all"
                       th:classappend="${activeLink == 'all-events'}? 'active'"
                       th:text="#{nav_bar_all_events}"
                    >Events</a>
                    <a class="dropdown-item" href="/event/add"
                       th:classappend="${activeLink == 'add-event'}? 'active'"
                       th:text="#{nav_bar_add_event}"
                    >Add Event</a>
                </div>
            </li>


            <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link dropdown-toggle" href="/" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   th:text="#{nav_bar_admin}"
                >Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/">Action</a>
                    <a class="dropdown-item" href="/">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/arch-types">Add Arch Type</a>
                </div>
            </li>


            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/users/register"
                   th:classappend="${activeLink == 'register'}? 'active'"
                   th:text="#{nav_bar_register}"
                >Register</a>
            </li>

            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/users/login"
                   th:classappend="${activeLink == 'login'}? 'active'"
                   th:text="#{nav_bar_login}"
                >Login</a>
            </li>

            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link"-->
            <!--                   th:method="post"-->
            <!--                   th:href="@{/users/logout}">Logout</a>-->
            <!--            </li>-->


<!--            th:text="#{nav_bar_logout}"-->
<!--            <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--                <div class="form-inline my-2 my-lg-0 px-3">-->
<!--                    <form class="nav-link"-->
<!--                          th:method="post"-->
<!--                          th:action="@{/users/logout}">-->
<!--                        <input type="submit" class="btn btn-link" value="Logout"/>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </li>-->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="#" onclick="document.getElementById('logout-form').submit();"
                   th:text="#{nav_bar_logout}">Logout</a>
                <form id="logout-form" th:action="@{/users/logout}" method="post" style="display: none;"></form>
            </li>

            <li class="nav-item">
                <form class="nav-link" th:method="get">
                    <label for="lang" th:text="#{nav_bar_language}">Language</label>
                    <select
                            id="lang"
                            name="lang"
                            onchange="this.form.submit()">
                        <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                        <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                    </select>
                </form>
            </li>

<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="/" role="button"-->
<!--                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"-->
<!--                   th:text="#{nav_bar_language}">-->
<!--                   Language-->
<!--                </a>-->
<!--                <div class="dropdown-menu"-->
<!--                     aria-labelledby="navbarDropdown"-->
<!--                     id="lang"-->
<!--                     name="lang"-->
<!--                     onchange="this.form.submit()">-->
<!--                    <a class="dropdown-item" href="/" value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</a>-->
<!--                    <a class="dropdown-item" href="/" value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</a>-->
<!--                </div>-->
<!--            </li>-->

        </ul>
    </div>
</nav>

</body>
</html>
