<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container-fluid">
  <h5 class="text-center text-white mt-5">Upps, the page that you are looking for is no longer here!</h5>
  <h5 class="text-center text-white mt-5">We are very sorry.</h5>
  <img class="center" style="width: 300px;" th:src="@{/images/buildings-construction-process.png}"
       alt="Under construction">
  <br/>
  <a  class="center text-center" style="font-weight: bold" th:href="@{/}">Go home...</a>
</div>

<div>
  <footer> </footer>
</div>

</body>
</html>
